# AI and ML Internship

## M SAITEJA

## Date- 12-06-2019


## DAY OBJECTIVE:Logestic RegressionÂ¶

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
%matplotlib inline

In [6]:
claimants1 = pd.read_csv("DATA FILES/claimants.csv")

In [7]:
claimants1.head()

   CASENUM  ATTORNEY  CLMSEX  CLMINSUR  SEATBELT  CLMAGE    LOSS
0        5         0     0.0       1.0       0.0    50.0  34.940
1        3         1     1.0       0.0       0.0    18.0   0.891
2       66         1     0.0       1.0       0.0     5.0   0.330
3       70         0     0.0       1.0       1.0    31.0   0.037
4       96         1     0.0       1.0       0.0    30.0   0.038

In [8]:
claimants3 = claimants1.drop(["CASENUM"],axis=1,inplace= False)
claimants3.head()

   ATTORNEY  CLMSEX  CLMINSUR  SEATBELT  CLMAGE    LOSS
0         0     0.0       1.0       0.0    50.0  34.940
1         1     1.0       0.0       0.0    18.0   0.891
2         1     0.0       1.0       0.0     5.0   0.330
3         0     0.0       1.0       1.0    31.0   0.037
4         1     0.0       1.0       0.0    30.0   0.038

In [9]:
claimants2=claimants1.drop(claimants1.index[[2]],axis=0)
claimants2.head()

   CASENUM  ATTORNEY  CLMSEX  CLMINSUR  SEATBELT  CLMAGE    LOSS
0        5         0     0.0       1.0       0.0    50.0  34.940
1        3         1     1.0       0.0       0.0    18.0   0.891
3       70         0     0.0       1.0       1.0    31.0   0.037
4       96         1     0.0       1.0       0.0    30.0   0.038
5       97         0     1.0       1.0       0.0    35.0   0.309

In [10]:
claimants1.describe()

,CASENUM,ATTORNEY,CLMSEX,CLMINSUR,SEATBELT,CLMAGE,LOSS
count,1340.000000,1340.000000,1328.000000,1299.000000,1292.000000,1151.000000,1340.000000
mean,11202.001493,0.488806,0.558735,0.907621,0.017028,28.414422,3.806307
std,9512.750796,0.500061,0.496725,0.289671,0.129425,20.304451,10.636903
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,4177.000000,0.000000,0.000000,1.000000,0.000000,9.000000,0.400000
50%,8756.500000,0.000000,1.000000,1.000000,0.000000,30.000000,1.069500
75%,15702.500000,1.000000,1.000000,1.000000,0.000000,43.000000,3.781500
max,34153.000000,1.000000,1.000000,1.000000,1.000000,95.000000,173.604000

In [11]:
claimants1.isnull().sum()

CASENUM       0
ATTORNEY      0
CLMSEX       12
CLMINSUR     41
SEATBELT     48
CLMAGE      189
LOSS          0
dtype: int64

In [12]:
claimants1.CLMAGE.value_counts().index[0]
claimants1.CLMAGE.mode()

0    10.0
dtype: float64

In [13]:
claimants1.CLMSEX.value_counts()
claimants1.CLMSEX.value_counts().index[0]
claimants1.CLMSEX.mode()

0    1.0
dtype: float64

In [14]:
claimants1.iloc[:,:]=claimants1.iloc[:,:].apply(lambda x:x.fillna(x.value_counts().index[0]))
claimants1.isnull().sum()

CASENUM     0
ATTORNEY    0
CLMSEX      0
CLMINSUR    0
SEATBELT    0
CLMAGE      0
LOSS        0
dtype: int64

In [15]:
import statsmodels.formula.api as smf
logit_model  = smf.logit('ATTORNEY ~ CLMAGE+LOSS+CLMSEX+CLMINSUR+SEATBELT',data=claimants1).fit()

Optimization terminated successfully.
         Current function value: 0.610149
         Iterations 7

In [20]:

type(logit_model)
logit_model.params

Intercept   -0.074380
CLMAGE       0.003741
LOSS        -0.320404
CLMSEX       0.315015
CLMINSUR     0.541897
SEATBELT    -0.692389
dtype: float64

In [21]:
logit_model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:               ATTORNEY   No. Observations:                 1340
Model:                          Logit   Df Residuals:                     1334
Method:                           MLE   Df Model:                            5
Date:                Fri, 14 Jun 2019   Pseudo R-squ.:                  0.1194
Time:                        07:22:48   Log-Likelihood:                -817.60
converged:                       True   LL-Null:                       -928.48
                                        LLR p-value:                 6.224e-46
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept     -0.0744      0.223     -0.334      0.738      -0.511       0.362
CLMAGE         0.0037      0.003      1.240      0.215      -0.002       0.010
LOSS          -0.3204      0.029    -10.884      0.000      -0.378      -0.263
CLMSEX         0.3150      0.120      2.633      0.008       0.081       0.549
CLMINSUR       0.5419      0.210      2.583      0.010       0.131       0.953
SEATBELT      -0.6924      0.523     -1.324      0.186      -1.717       0.333
==============================================================================
"""

In [22]:
y_pred1 = logit_model.predict(claimants1)
y_pred1

0       0.000026
1       0.505625
2       0.593992
3       0.469851
4       0.638205
5       0.693063
6       0.346967
7       0.342055
8       0.674143
9       0.596954
10      0.256864
11      0.003463
12      0.489019
13      0.671848
14      0.705815
15      0.563979
16      0.727805
17      0.608653
18      0.617451
19      0.354688
20      0.404367
21      0.708228
22      0.005998
23      0.594990
24      0.072608
25      0.632184
26      0.656488
27      0.583645
28      0.619496
29      0.577932
          ...
1310    0.655256
1311    0.261406
1312    0.021499
1313    0.620767
1314    0.612877
1315    0.535789
1316    0.556613
1317    0.345491
1318    0.689443
1319    0.586680
1320    0.656318
1321    0.355192
1322    0.681493
1323    0.282276
1324    0.168234
1325    0.450375
1326    0.642971
1327    0.707366
1328    0.596700
1329    0.675810
1330    0.168933
1331    0.619959
1332    0.693430
1333    0.657201
1334    0.694909
1335    0.579417
1336    0.442146
1337    0.710276
1338    0.321398
1339    0.662473
Length: 1340, dtype: float64

In [23]:
claimants1["pred_prob"] = y_pred1
claimants1.head()

   CASENUM  ATTORNEY  CLMSEX  CLMINSUR  SEATBELT  CLMAGE    LOSS  pred_prob
0        5         0     0.0       1.0       0.0    50.0  34.940   0.000026
1        3         1     1.0       0.0       0.0    18.0   0.891   0.505625
2       66         1     0.0       1.0       0.0     5.0   0.330   0.593992
3       70         0     0.0       1.0       1.0    31.0   0.037   0.469851
4       96         1     0.0       1.0       0.0    30.0   0.038   0.638205

In [24]:
claimants1["Pvalue"]=0
claimants1.head()

,CASENUM,ATTORNEY,CLMSEX,CLMINSUR,SEATBELT,CLMAGE,LOSS,pred_prob,Pvalue
0,5,0,0.0,1.0,0.0,50.0,34.940,0.000026,0
1,3,1,1.0,0.0,0.0,18.0,0.891,0.505625,0
2,66,1,0.0,1.0,0.0,5.0,0.330,0.593992,0
3,70,0,0.0,1.0,1.0,31.0,0.037,0.469851,0
4,96,1,0.0,1.0,0.0,30.0,0.038,0.638205,0

In [25]:
claimants1.loc[claimants1.pred_prob >=0.5,"Pvalue"] = True
claimants1.head()

,CASENUM,ATTORNEY,CLMSEX,CLMINSUR,SEATBELT,CLMAGE,LOSS,pred_prob,Pvalue
0,5,0,0.0,1.0,0.0,50.0,34.940,0.000026,0
1,3,1,1.0,0.0,0.0,18.0,0.891,0.505625,True
2,66,1,0.0,1.0,0.0,5.0,0.330,0.593992,True
3,70,0,0.0,1.0,1.0,31.0,0.037,0.469851,0
4,96,1,0.0,1.0,0.0,30.0,0.038,0.638205,True

In [26]:
confusion_matrix = pd.crosstab(claimants1['ATTORNEY'],claimants1.Pvalue)
confusion_matrix

Pvalue      0  True
ATTORNEY
0         435   250
1         149   506

In [27]:
acc = (435+506)/(435+506+149+250)
acc

0.7022388059701492

In [28]:
np.mean(claimants1.ATTORNEY == claimants1.Pvalue)

0.7022388059701492

In [29]:
claimants1 = pd.read_csv("Data Files/claimants.csv")

In [30]:
claimants = claimants1.drop(["CASENUM"],axis=1,inplace=False)
claimants.head()

   ATTORNEY  CLMSEX  CLMINSUR  SEATBELT  CLMAGE    LOSS
0         0     0.0       1.0       0.0    50.0  34.940
1         1     1.0       0.0       0.0    18.0   0.891
2         1     0.0       1.0       0.0     5.0   0.330
3         0     0.0       1.0       1.0    31.0   0.037
4         1     0.0       1.0       0.0    30.0   0.038

In [31]:
claimants.iloc[:,:] = claimants.iloc[:,:].apply(lambda x:x.fillna(x.value_counts().index[1]))
claimants.isnull().sum()

ATTORNEY    0
CLMSEX      0
CLMINSUR    0
SEATBELT    0
CLMAGE      0
LOSS        0
dtype: int64

In [32]:
X=claimants.iloc[:,1:]
#X.astype(int)
X.head()

   CLMSEX  CLMINSUR  SEATBELT  CLMAGE    LOSS
0     0.0       1.0       0.0    50.0  34.940
1     1.0       0.0       0.0    18.0   0.891
2     0.0       1.0       0.0     5.0   0.330
3     0.0       1.0       1.0    31.0   0.037
4     0.0       1.0       0.0    30.0   0.038

In [33]:
y = claimants.iloc[:,1]

In [34]:
y.head()

0    0.0
1    1.0
2    0.0
3    0.0
4    0.0
Name: CLMSEX, dtype: float64

In [35]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.3,random_state=2)

In [36]:
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(938, 5)
(402, 5)
(938,)
(402,)

In [37]:
from sklearn.linear_model import LogisticRegression
reg = LogisticRegression()
reg.fit(X_train,y_train)

C:\Users\DaddyMummy\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [38]:
pred = reg.predict(X_test)
pred

array([0., 0., 1., 1., 1., 0., 0., 0., 1., 0., 1., 0., 0., 0., 1., 0., 1.,
       1., 1., 1., 1., 1., 0., 0., 0., 1., 0., 0., 1., 1., 1., 1., 0., 1.,
       0., 1., 0., 1., 0., 0., 1., 1., 0., 1., 0., 0., 1., 1., 1., 1., 1.,
       0., 1., 1., 0., 1., 1., 1., 0., 1., 0., 0., 0., 0., 1., 1., 0., 0.,
       0., 1., 1., 0., 0., 0., 1., 0., 0., 1., 1., 0., 0., 1., 1., 1., 1.,
       1., 0., 0., 1., 0., 0., 0., 1., 1., 0., 0., 1., 0., 0., 1., 1., 0.,
       0., 0., 1., 0., 1., 0., 0., 1., 1., 0., 1., 1., 1., 0., 0., 0., 1.,
       1., 1., 1., 1., 0., 1., 1., 1., 0., 1., 1., 1., 1., 0., 1., 1., 0.,
       1., 0., 0., 0., 1., 0., 0., 1., 0., 1., 1., 0., 0., 1., 1., 1., 1.,
       1., 1., 1., 1., 0., 1., 0., 0., 0., 0., 1., 1., 1., 0., 0., 1., 0.,
       0., 1., 1., 0., 0., 1., 0., 1., 1., 1., 0., 0., 1., 1., 0., 1., 1.,
       0., 1., 1., 0., 1., 0., 1., 0., 1., 1., 0., 1., 0., 0., 0., 0., 1.,
       0., 1., 1., 0., 0., 0., 1., 0., 0., 1., 1., 1., 1., 0., 0., 1., 1.,
       1., 0., 1., 1., 1., 0., 0., 1., 1., 0., 0., 0., 1., 0., 0., 0., 1.,
       1., 1., 0., 0., 0., 1., 0., 1., 0., 1., 1., 0., 1., 0., 1., 0., 1.,
       1., 1., 1., 0., 0., 0., 0., 0., 0., 1., 1., 0., 1., 0., 1., 1., 0.,
       1., 1., 0., 1., 1., 0., 0., 1., 1., 1., 0., 0., 1., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 1., 0., 0., 1., 0., 0., 1., 0., 0., 1., 1.,
       1., 1., 0., 1., 1., 0., 1., 1., 1., 1., 1., 0., 1., 0., 1., 0., 0.,
       1., 1., 0., 0., 1., 1., 1., 0., 0., 1., 0., 1., 0., 0., 0., 1., 1.,
       0., 1., 1., 1., 1., 1., 0., 1., 1., 1., 1., 1., 0., 1., 0., 1., 1.,
       1., 1., 0., 1., 0., 0., 1., 1., 1., 0., 0., 0., 1., 0., 1., 0., 0.,
       1., 0., 0., 0., 1., 1., 1., 0., 0., 0., 1., 0., 0., 0., 1., 1., 1.,
       1., 0., 1., 1., 0., 1., 1., 1., 0., 0., 1.])

In [39]:
np.mean(y_test == pred)

1.0